/* Definindo variáveis de cor */
:root {
  --cal-poly-green: #14591dff; /* Verde Cal Poly */
  --byzantium: #832161ff; /* Roxo Byzantium */
  --prussian-blue: #003459ff; /* Azul Prussiano */
  --tropical-indigo: #8d86c9ff; /* Indigo Tropical */
  --background-color: #f4f4f4; /* Fundo claro */
  --card-background-color: #ffffff; /* Cor do fundo do card */
  --text-color: #2c3e50; /* Texto escuro */
  --footer-color: #7f8c8d; /* Cor suave do rodapé */
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globais */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  height: 100vh;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 50px;
  animation: fadeIn 1s ease-in-out;
}

header h1 {
  font-size: 36px;
  color: var(--cal-poly-green);
}

header p {
  font-size: 18px;
  color: var(--byzantium);
  margin-top: 10px;
}

/* Container de cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  animation: fadeIn 1.1s ease-in-out;
}

/* Estilos do card */
.card {
  background-color: var(--card-background-color);
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: fadeInCard 0.8s forwards;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Imagem do card */
.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.05);
}

/* Conteúdo do card */
.card-content {
  margin-top: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1; 
}

.card-content h2 {
  font-size: 20px;
  color: var(--cal-poly-green);
  margin-bottom: 10px;
  font-weight: bold;
}

.card-content .summary {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 15px;
  flex-grow: 1; /* Garante que o conteúdo ocupe o restante do espaço */
}

.card-content .author {
  font-size: 14px;
  color: var(--byzantium);
  margin-bottom: 15px;
}

/* Botão */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--byzantium);
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  align-self: center; 
}

.btn:hover {
  background-color: #702157;
}


/* Responsividade */
@media (max-width: 768px) {
  header h1 {
    font-size: 30px;
  }

  .card-container {
    gap: 20px;
  }

  .card:hover img {
    transform: scale(1);
  }

  .card:hover {
    transform: translateY(0px);
    box-shadow: none;
  }

  .card {
    width: 100%;
  }

  footer {
    font-size: 12px;
  }
}

/* Animações */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInCard {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

